In [90]:
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter("ignore")

In [91]:
df=pd.read_csv("Exercise Data.csv")
print(df.shape)
df.head()

(25, 6)

,Month,Contribution,Amount won by the bidder,Chit fund organizer commission,Net amount recd by Bid winner,Amount returned to everyone in the group
0,1,2000,40000,2500,37500,400
1,2,2000,42000,2500,39500,320
2,3,2000,45000,2500,42500,200
3,4,2000,48000,2500,45500,80
4,5,2000,40000,2500,37500,400

Q1)What is the Annualized  Return of the person who bids in the last month ?

In [92]:
#last month net amount recieved by the bid winner
last_month_return=df.iloc[24,4]
#total amount recieved by the bid winner by amount returned to everyone in the group
total_return_except_last_month=df.iloc[:25,5].sum()
total_return=last_month_return+total_return_except_last_month
# total amount get by the person after 25 months
print("total_return: ",total_return)
#total amount spent by the every person in the span of 25 months
total_spent_amount=25*2000
anualized_return=total_return-total_spent_amount
print("anualized_return : ",anualized_return)

total_return:  53700
anualized_return :  3700


Q2)What is the Annualized Return of the person who bids in the first month ?

In [93]:
#first month net amount recieved by the bid winner
first_month_return=df.iloc[0,4]
#total amount recieved by the bid winner by amount returned to everyone in the group
total_return_except_first_month=df.iloc[:25,5].sum()
# total amount get by the person after 25 months
total_return=first_month_return+total_return_except_first_month
print("total_return: ",total_return)
#total amount spent by the every person in the span of 25 months
total_spent_amount=25*2000
#anualized_return of the person who bids last month
anualized_return=total_return-total_spent_amount
print("anualized_return : ",anualized_return)

total_return:  43700
anualized_return :  -6300

Q3)Write an R/Python script which calculates the annualized return of chit fund participant ?- Show the Return % for each month's bid winner.

In [104]:
def cal_anualized_return_of_participants(df):
    
    participant_anualized_return=[]
    return_percent_of_each_month_bid_winner=[]
    person_spent_for_every_month=2000
    
    for i in range(len(df)):
        # i th month bid winner net return on i th month
        ith_month_return=df.iloc[i,4]
        #total amount recieved by the bid winner by amount returned to everyone in the group
        total_return_by_amount_returned_to_everyone=df.iloc[:25,5].sum()
        # total amount get by the i th person after 25 months
        total_return=ith_month_return+total_return_by_amount_returned_to_everyone
        #total amount spent by the every person in the span of 25 months
        total_spent_amount=25*2000
        #anualized_return of the person i th person
        anualized_return=total_return-total_spent_amount
        participant_anualized_return.append(anualized_return)
        #Return % for ith month's bid winner
        return_percent=(anualized_return/person_spent_for_every_month)*100
        return_percent_of_each_month_bid_winner.append(return_percent)
        
    for j in range(len(return_percent_of_each_month_bid_winner)):
        return_percent_of_each_month_bid_winner[j]=str(return_percent_of_each_month_bid_winner[j])+'%'
        
    a=np.array(participant_anualized_return)
    a=np.expand_dims(a,axis=1)
    b=np.array(return_percent_of_each_month_bid_winner)
    b=np.expand_dims(b,axis=1)

    c=np.concatenate((a,b),axis=1)
    column=["anualized_return_of_person(bid_winner_of_that_month)","percentage_return_of_each_month_bid_winner"]
    data_frame=pd.DataFrame(c,columns=column)

    return data_frame

In [105]:
cal_anualized_return_of_participants(df)

,anualized_return_of_person(bid_winner_of_that_month),percentage_return_of_each_month_bid_winner
0,-6300,-315.0%
1,-4300,-215.0%
2,-1300,-65.0%
3,1700,85.0%
4,-6300,-315.0%
5,-4300,-215.0%
6,-3300,-165.0%
7,-2300,-114.99999999999999%
8,-6300,-315.0%
9,-4300,-215.0%
10,-1300,-65.0%
11,1700,85.0%
12,-6300,-315.0%
13,-4300,-215.0%
14,-3300,-165.0%
15,-3300,-165.0%
16,-5300,-265.0%
17,-4300,-215.0%
18,-1300,-65.0%
19,-1300,-65.0%
20,-2300,-114.99999999999999%
21,-300,-15.0%
22,700,35.0%
23,1700,85.0%
24,3700,185.0%